
.newarrival
{
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.col-md-7{
    color: #555;
}
a{
  
    color: black;
}
.donasi{
    font-size: 12px;
    font-weight: bold;
}
.lol{
    margin-left: px;
}
